Host *
    Protocol 2
    ForwardX11Trusted no
    PasswordAuthentication no
    IdentitiesOnly yes
    Compression yes
    SendEnv LANG LC_*
    HashKnownHosts no
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no
