Protocol 2

SyslogFacility AUTHPRIV

PermitRootLogin no
StrictModes yes
AllowUsers administrator
PasswordAuthentication no
ChallengeResponseAuthentication no

PrintLastLog no
PrintMotd no

AcceptEnv LANG LC_* XMODIFIERS

X11Forwarding yes

# For Debian/Ubuntu, use following lines
UsePAM no
Subsystem sftp /usr/lib/openssh/sftp-server

# For RHEL/Fedora/CentOS, uncomment following lines, and comment above
#UsePAM yes
#Subsystem sftp /usr/libexec/openssh/sftp-server
